CLIENT_ID=Notion OAuth Client ID
CLIENT_SECRET=Notion OAuth Client Secret
CLIENT_REDIRECT_URL=https://www.raycast.com/redirect?packageName=Extension
PROXY_REDIRECT_URL=https://your-proxy-domain/api/code
NOTION_AUTHORIZE_URL=https://api.notion.com/v1/oauth/authorize
NOTION_TOKEN_URL=https://api.notion.com/v1/oauth/token
REDIRECT_URIS=https://your-chromium-extension-id.chromiumapp.org/oauth, https://your-firefox-extension-id.extensions.allizom.org/oauth